<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <title>Joshua Paling <%= ' - ' + current_article.title unless current_article.nil? %></title>
  <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
  <div class="page-wrapper">
    <header>
      <h1>Joshua Paling</h1>
      <nav>
        <a class="<%= 'active' if current_page.url =~ /\/blog\/.*/ || current_page.url == '/' %>" href="/">Blog</a>
        <a class="<%= 'active' if current_page.url == '/about.html' %>" href="/about.html">About</a>
        <a target="_blank" href="https://twitter.com/joshuapaling">@joshuapaling</a>
        <%= link_to 'RSS', "#{blog.options.prefix.to_s}/feed.xml" %>
      </nav>
    </header>
