
<div class="row">
  <div class="col-sm-8">
    <p>My full name is Joshua but I go by Joss, not Josh. I'm a <%= years_diff(Time.now,Time.local(1986,04,14)) %> year old full stack web developer from Sydney, Australia. Ruby on Rails is my preferred framework.</p>

    <p><strong>Community</strong></p>
    <p>I'm involved in the Sydney and Australian Ruby community:

    <ul>
      <li>co-organiser of Sydney ruby meetups</li>
      <li><strong>Ruby Conf 2016:</strong> head of volunteers</li>
      <li><strong>Ruby Conf 2015:</strong> <a target="_blank" href="https://rubyconf.eventer.com/rubyconf-australia-2015-1223/feeling-like-a-better-developer-aka-overcoming-impostor-syndrome-by-joss-paling-1729">spoke</a>, and also organised the Rails Girls Next workshop.</li>
      <li><strong>Ruby Conf 2014:</strong> Mentored at, and helped organise the Rails Girls Next workshop. As this was the very first time "Rails Girls Next" had been run, this also involved me writing <a target="_blank" href="http://guides.railsgirls.com/ruby-atm/">one of the three exercises</a>.</li>
      <li>I've also mentored and spoken at various other community events</li>
    </ul>

    <p><strong>Work</strong></p>
    <p>I'm a partner at <a target="_blank" href="http://www.bbldigital.com.au">BBL Digital</a> - we're a boutique digital agency based in Darlinghurst, Sydney. We also <a target="_blank" href="http://motionbybbl.com.au/">do video</a>. Got a project? Get in touch!</p>

    <p><strong>Online</strong></p>
    <p>
      <a href="https://github.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">GitHub</a>
      <a href="http://stackoverflow.com/users/1373987/joshua-paling" target="_blank" type="button" class="btn btn-primary">StackOverflow</a>
      <a href="https://twitter.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">Twitter</a>
      <a href="https://medium.com/@joshua.paling" target="_blank" type="button" class="btn btn-primary">Medium</a>
      <a href="https://speakerdeck.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">Speaker Deck</a>
      <a href="http://au.linkedin.com/in/joshuapaling" target="_blank" type="button" class="btn btn-primary">Linked In</a>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <%= image_tag "profile.png", style: 'max-width: 350px; width: 100%;' %>
    </p>
  </div>
</div>

<div class="me-offline">
  <h1>Offline</h1>

  <p>I'm married to Jess.</p>
  <p><%= image_tag "jess-joss.jpg" %></p>

  <br /><br />
  <p>We have twins.</p>
  <p><%= image_tag "luke-annika.jpg" %></p>

  <br /><br />
  <p>They're getting really big, really quick!</p>
  <p><%= image_tag "luke-annika-2.jpg" %></p>

  <br /><br />
  <p>When I'm not coding or hanging with my kids, I like surfing...</p>
  <p><%= image_tag "joss-surfing.jpg" %></p>

  <br /><br />
  <p>...and skateboarding.</p>
  <p><%= image_tag "skating.jpg" %></p>


</div>