
<div class="row">
  <div class="col-sm-8">
    <p>I go by <strong>Joss</strong>, not Josh. I'm a <%= years_diff(Time.now,Time.local(1986,04,14)) %> year old software developer from Sydney, Australia. I've been writing software professionally since I was 18, and my recent experience is with Node.js and React and, prior to that, Ruby on Rails.</p>

    <hr>
    <p><strong>Community</strong></p>
    <p>I'm involved in the Sydney and Australian Ruby community:

    <ul>
      <li>Former co-organiser of Sydney ruby meetups for 2016 / 2017</li>
      <li><strong>Ruby Conf AU 2017:</strong> head of volunteers</li>
      <li><strong>Ruby Conf AU 2016:</strong> head of volunteers</li>
      <li><strong>Ruby Conf AU 2015:</strong> <a target="_blank" href="https://rubyconf.eventer.com/rubyconf-australia-2015-1223/feeling-like-a-better-developer-aka-overcoming-impostor-syndrome-by-joss-paling-1729">spoke</a>, and also organised the Rails Girls Next workshop.</li>
      <li><strong>Ruby Conf 2014:</strong> Mentored at, and helped organise the Rails Girls Next workshop. As this was the very first time "Rails Girls Next" had been run, this also involved me writing <a target="_blank" href="http://guides.railsgirls.com/ruby-atm">one of the three exercises</a>.</li>
      <li>I've mentored and spoken at various other community events</li>
    </ul>

    <hr>
    <p><strong>Work</strong></p>
    <p>Checkout my <a href="/resume.html">resume</a>.</p>

  </div>
  <div class="col-sm-4">
    <p>
      <%= image_tag "profile.png", style: 'max-width: 350px; width: 100%;' %>
    </p>
  </div>
</div>

<p><strong>Online</strong></p>
<p>
  <a href="https://twitter.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">Twitter</a>
  <a href="https://github.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">GitHub</a>
  <a href="http://stackoverflow.com/users/1373987/joshua-paling" target="_blank" type="button" class="btn btn-primary">StackOverflow</a>
  <a href="https://medium.com/@joshua.paling" target="_blank" type="button" class="btn btn-primary">Medium</a>
  <a href="https://speakerdeck.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">Speaker Deck</a>
  <a href="http://au.linkedin.com/in/joshuapaling" target="_blank" type="button" class="btn btn-primary">Linked In</a>
</p>

<div class="me-offline">
  <h1>Offline</h1>

  <p>I'm married to Jess.</p>
  <p><%= image_tag "jess-joss.jpg" %></p>

  <br /><br />
  <p>We have twins.</p>
  <p><%= image_tag "luke-annika.jpg" %></p>

  <br /><br />
  <p>They're getting really big, quick...</p>
  <p><%= image_tag "luke-annika-2.jpg" %></p>

  <br /><br />
  <p>...Really quick...</p>
  <p><%= image_tag "luke-annika-3.jpg" %></p>

  <br /><br />
  <p>...Really, really quick!</p>
  <p><%= image_tag "luke-annika-4.jpg" %></p>

  <br /><br />
  <p>Now they're 8 and steal my phone to take selfies</p>
  <p><%= image_tag "luke-annika-5.png" %></p>

  <br /><br />
  <p>When I'm not coding or hanging with my kids, I like surfing...</p>
  <p><%= image_tag "joss-surfing.jpg" %></p>

  <br /><br />
  <p>... skateboarding...</p>
  <p><%= image_tag "skating.jpg" %></p>

  <br /><br />
  <p>... and skiing.</p>
  <p><%= image_tag "skiing.png" %></p>


</div>