<h1 class="page-title">About Me</h1>
<p>My full name is Joshua but I go by Joss, not Josh. I'm a <%= years_diff(Time.now,Time.local(1986,04,14)) %> year old full stack web developer from Sydney, Australia.</p>
<p>I'm involved in the Sydney and Australian Ruby community, and Ruby on Rails is my preferred framework. I <a target="_blank" href="https://rubyconf.eventer.com/rubyconf-australia-2015-1223/feeling-like-a-better-developer-aka-overcoming-impostor-syndrome-by-joss-paling-1729">spoke</a> at Ruby Conf Australia 2015, and organised the Rails Girls Next workshop for the same conference. I was involved in the original Rails Girls Next workshop (at Ruby Conf Sydney, 2014), and prepared <a target="_blank" href="http://guides.railsgirls.com/ruby-atm/">one of the three exercises</a>.</p>

<p>I'm a partner at <a target="_blank" href="http://www.bbldigital.com.au">BBL Digital</a> - we're a boutique digital agency based in Darlinghurst, Sydney. We also <a target="_blank" href="http://motionbybbl.com.au/">do video</a>.</p>

<hr />
<h2>Online</h2>
<p>
  <a href="https://github.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">GitHub</a>
  <a href="http://stackoverflow.com/users/1373987/joshua-paling" target="_blank" type="button" class="btn btn-primary">StackOverflow</a>
  <a href="https://twitter.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">Twitter</a>
  <a href="https://speakerdeck.com/joshuapaling" target="_blank" type="button" class="btn btn-primary">Speaker Deck</a>
</p>
<hr />
<h2>Offline</h2>

<h4>I'm married to Jess.</h4>
<p><%= image_tag "jess-joss.jpg" %></p>

<br /><br />
<h4>We have twins.</h4>
<p><%= image_tag "luke-annika.jpg" %></p>

<br /><br />
<h4>When I'm not coding or changing nappies, I like surfing...</h4>
<p><%= image_tag "joss-surfing.jpg" %></p>

<br /><br />
<h4>...and skateboarding.</h4>
<p><%= image_tag "skating.jpg" %></p>

